.LottoBall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.LottoBall-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}