.RollDice {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.RollDice-dice {
  display: flex;
  align-items:center;
  justify-content: center;
}

.RollDice button {
  width: 15em;
  padding:1.5em;
  border: 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
}

.RollDice button:hover {
  background-color: purple;
}

.animate__animated.animate__shakeX {
  --animate-duration: 2s;
}
